:root {
    --logo-clr: #fff;
    --image-footer-clr: #ddd;
    --form-clr: rgb(25, 37, 51);
    --input-clr: #E5E7EB;
    --input-clr--invalid: red;
    --input-clr--focus: blue;
    --main-color--2nd: rgb(249,	250,	251);
    --btn-clr: #596D48;
    --col-gap: 72px;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--logo-clr);
    color: #000;
    font-family: var(--system-ui);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.header {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex: 1 1 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color--2nd);
}

.main p {
    width: clamp(45ch, 66%, 75ch);
}

.main__description {
    margin: 48px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1;
}

.main__form {
    color: var(--form-clr);
}

.form__body {
    padding: 48px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.form__body ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px var(--col-gap);
}

.form__body li {
    flex: 1 0 calc(50% - var(--col-gap));
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 0.8rem;
    font-weight: 600;
}

.form__input {
    font-size: 1rem;
    font-weight: 400;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid var(--input-clr);
}

.form__input:focus {
    border-color: var(--input-clr--focus);
}

.form__input:invalid {
    border-color: var(--input-clr--invalid);
}

.readability {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.logo {
    height: 128px;
    margin: 10px 0;
}

h1 {
    font-family: "norsebold";
    font-weight: 300;
    font-size: 6rem;
    letter-spacing: -1.5px;
    color: var(--logo-clr, #fff);
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0px;
}

.image-footer {
    align-self: center;
    color: var(--image-footer-clr, #ddd);

    & a {
        color: inherit;
    }
}

.btn__submit {
    background-color: var(--btn-clr);
    cursor: pointer;
    padding: 12px 48px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--logo-clr);
    border: none;
    margin: 48px;
}

.a--btn {
    color: var(--btn-clr);
    text-decoration: none;
}

.login {
    padding: 48px;
}